body {font-family: 'Lato'}

.title {font-family: 'Raleway'}

.inner {
  width:1100px;
  margin:0 auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

.header {
  padding:15px 0;
  background-color: #fff;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index:999;
}

.header-box {
  display:flex;
  justify-content:space-between;
}

.header-font {
  color:#333;
}

.contact-text {
  font-size: 12px;
  padding:14px 12px;
  background-color: #74cfae;
  color:#fff;
  transition:all 0.3s ease 0s;
}

.contact-text:hover {
  color:#333;
}

.main {
  background-color: #f2f2f2;
  margin-top:70px;
}

.main-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.title-content {
  padding:250px 0px;
  text-align: center;
}

.sub-title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.content {
  background-color: #74cfae;
}

.iphone-content {
  display:flex;
  justify-content: space-around;
  padding-top:50px;
  text-align: center;
}

.iphone-title {
  font-size: 24px;
  color: #f2f2f2;
}

.iphone-text {
  width:650px;
  font-size: 20px;
  color: #f2f2f2;
  margin-top: 35px;
  line-height: 1.5;
}

.picture-content-box {
  background-color: #f2f2f2; 
  padding:60px 0;
  box-sizing: border-box;
}

.picture-title-box {
  text-align: center;
}

.picture-title {
  font-size: 24px;
  color: #333;
}

.picture-item {
  font-size:0;
  margin: 40px 0 90px 0;
}

.picture {
  margin:0 100px 80px 0;
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}

.picture:hover {
  opacity: 1;
}

.picture-item .picture:nth-child(3n) {
  margin-right: 0;
}

.picture-item .picture:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.text-item-box {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-item-text {
  line-height: 1.5;
  margin-right: 90px;
  width:460px;
}

.button {
  font-size:12px;
  padding:14px 20px;
  background-color: #74cfae;
  color:#fff;
  transition: all 0.3s ease 0s;
}

.button:hover {
  color:#333;
}

.skill {
  background-color: #4e4e4e;
  text-align: center;
  padding:70px 0;
  color:#fff;
}

.skill-title {
  font-size:24px;
}

.skill-content {
  display:flex;
  margin-top:30px;
}

.skill-item-box {
  margin-left:180px;
}

.skill-content .skill-item-box:first-child {
  margin-left: 0;
}

.skill-text {
  font-size: 16px;
  margin-top: 15px;
}

.sns {
  padding:200px 0;
}

.sns-box {
  display:flex;
  justify-content: center;
  text-align: center;
}

.font {
  color: #74cfae;
  margin-top:20px;
}

.font-item {
  width:185px;
  height:120px;
  transition:all 0.3s ease 0s;
}

.font-item:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
  padding:20px 0 25px 0;
}

.footer-text-content {
  color:#fff;
  text-align: right;
}